<h1>Listing other_items</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Sequence</th>
      <th>Updated at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody class="sortable">
    <% sortable_fetch(@other_items) do |other_item, id_tag| %>
      <tr id="<%= id_tag %>">
        <td><%= other_item.title %></td>
        <td><%= other_item.sequence %></td>
        <td><%= other_item.updated_at %></td>
        <td><%= link_to 'Show', other_item %></td>
        <td><%= link_to 'Edit', edit_other_item_path(other_item) %></td>
        <td><%= link_to 'Destroy', other_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Other item', new_other_item_path %>
