<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @other_item.title %>
</p>

<p>
  <strong>Sequence:</strong>
  <%= @other_item.sequence %>
</p>

<%= link_to 'Edit', edit_other_item_path(@other_item) %> |
<%= link_to 'Back', other_items_path %>
