<%= form_for(@sequenced_item) do |f| %>
  <% if @sequenced_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sequenced_item.errors.count, "error") %> prohibited this sequenced_item from being saved:</h2>

      <ul>
      <% @sequenced_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :sequence %><br>
    <%= f.number_field :sequence %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
