<h1>Listing sequenced_items</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Sequence</th>
      <th>Updated at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody class="sortable-sequenced-items">
    <% @sequenced_items.each_with_sortable_id do |sequenced_item, sortable_id| %>
      <tr id="<%= sortable_id %>">
        <td><%= sequenced_item.title %></td>
        <td><%= sequenced_item.sequence %></td>
        <td><%= sequenced_item.updated_at %></td>
        <td><%= link_to 'Show', sequenced_item %></td>
        <td><%= link_to 'Edit', edit_sequenced_item_path(sequenced_item) %></td>
        <td><%= link_to 'Destroy', sequenced_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sequenced item', new_sequenced_item_path %>
